Flask==3.0.2
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.3.6
python-socketio==5.10.0
python-engineio==4.9.0
python-dotenv==1.0.1
PyJWT==2.10.1
Werkzeug==3.0.3
gunicorn==23.0.0
SQLAlchemy==2.0.29
eventlet==0.33.3

# Dependencies
click==8.1.8
blinker==1.8.2
simple-websocket==1.0.0
greenlet==3.0.3
itsdangerous==2.2.0
typing-extensions==4.12.2
